html, body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.bg-pink {
	background-color: #FFB6C1;
	font-weight: normal;
}

#h-2 {
	font-size: 25px;
}

.title {
	font: 'Segoe UI';
}
