/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */

@import 'bootstrap/scss/root';

@import 'bootstrap/scss/reboot';

@import 'bootstrap/scss/type';

@import 'bootstrap/scss/accordion';

@import 'bootstrap/scss/alert';

@import 'bootstrap/scss/badge';

@import 'bootstrap/scss/breadcrumb';

@import 'bootstrap/scss/buttons';

@import 'bootstrap/scss/button-group';

@import 'bootstrap/scss/card';

@import 'bootstrap/scss/carousel';

@import 'bootstrap/scss/close';

@import 'bootstrap/scss/containers';

@import 'bootstrap/scss/dropdown';

@import 'bootstrap/scss/forms';

@import 'bootstrap/scss/grid';

@import 'bootstrap/scss/images';

@import 'bootstrap/scss/list-group';

@import 'bootstrap/scss/modal';

@import 'bootstrap/scss/nav';

@import 'bootstrap/scss/navbar';

@import 'bootstrap/scss/offcanvas';

@import 'bootstrap/scss/pagination';

@import 'bootstrap/scss/popover';

@import 'bootstrap/scss/progress';

@import 'bootstrap/scss/spinners';

@import 'bootstrap/scss/tables';

@import 'bootstrap/scss/toasts';

@import 'bootstrap/scss/tooltip';

@import 'bootstrap/scss/helpers';

@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/utilities/api';

html,
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.bg-pink {
	background-color: #ffb6c1;
	font-weight: normal;
}

#h-2 {
	font-size: 25px;
}

#section {
	font: 'Segoe UI';
}

.blockquote-custom {
	position: relative;
	font-size: 1.1rem;
}

.blockquote-custom-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -25px;
	left: 50px;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
